/* ASIDE */

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #ede9e9;
  width: 4rem;
  height: 100%;
  color: black;
  z-index: 2;
}

aside h2 {
  text-orientation: upright;
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 40px;
  letter-spacing: 20px;
  animation: aside-animation 8s infinite;
  position: absolute;
  border: 4px solid #ede9e9;
}

/* ARTICLE LINKS */

.links {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  font-size: 16px;
  height: 240px;
  width: 240px;
  background-color: #ede9e9;
  border-radius: 0 0 60% 0;
  color: black;
  gap: 1rem;
}

.menu-links {
  display: none;
}

.github,
.linkedin {
  width: 130px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  margin-right: 2rem;
}

.adjust-icons {
  font-size: 30px;
}

.github p,
.linkedin p {
  margin-left: 0.4rem;
}

.linkedin:hover,
.github:hover {
  background-color: black;
  color: white;
  border-radius: 0 0 2rem 0;
  box-shadow: 2px 2px 5px black;
}
