.blink-animation {
  -webkit-animation: blink-animation 1s linear both;
  animation: blink-animation 1s linear both;
}

.hide {
  opacity: 0;
}
@keyframes blink-animation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aside-animation {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 110%;
  }
}

@keyframes ship {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes aliens {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-250%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes hover-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ball {
  0% {
    top: 34%;
    left: 52%;
  }
  8.3% {
    top: 52%;
    left: 90%;
  }
  24.9% {
    top: 85%;
    left: 8%;
  }
  30% {
    top: 98%;
    left: 27%;
  }
  41.5% {
    top: 70%;
    left: 90%;
  }
  58.1% {
    top: 55%;
    left: 8%;
  }
  74.7% {
    top: 13%;
    left: 90%;
  }
  79% {
    top: 1%;
    left: 70%;
  }
  91.3% {
    top: 22%;
    left: 8%;
  }
  100% {
    top: 34%;
    left: 52%;
  }
}

@keyframes bar1-animation {
  0% {
    top: 10%;
  }
  5% {
    top: 10%;
  }
  9% {
    top: 24%;
  }
  13% {
    top: 17%;
  }
  24.9% {
    top: 82%;
  }
  47% {
    top: 37%;
  }
  52% {
    top: 41%;
  }
  56% {
    top: 64%;
  }
  58.1% {
    top: 54%;
  }
  70% {
    top: 74%;
  }
  84% {
    top: 12%;
  }
  91.3% {
    top: 18%;
  }
  100% {
    top: 10%;
  }
}

@keyframes bar2-animation {
  0% {
    top: 90%;
  }
  8.3% {
    top: 51%;
  }
  20% {
    top: 60%;
  }
  25% {
    top: 34%;
  }
  41.5% {
    top: 68%;
  }
  46% {
    top: 36%;
  }
  52% {
    top: 18%;
  }
  58.1% {
    top: 53%;
  }
  66% {
    top: 14%;
  }
  70% {
    top: 20%;
  }
  74.7% {
    top: 10%;
  }
  91.3% {
    top: 10%;
  }
  100% {
    top: 90%;
  }
}
